@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en" ng-app="Dashboard">
  <head>
    <meta charset="UTF-8">

    <title>User Info</title>

      <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
      <script type="text/javascript" src="JS/bootstrap.js"></script>
      <script type="text/javascript" src="JS/bootstrap.bundle.min.js"></script>
      <script type="text/javascript" src="JS/jquery-3.6.0.min.js"></script>
      <script type="text/javascript" src="JS/app.js"></script>

  </head>
  
  <body>

    <div  class="container">

        <!--Header-->
        <div class="row align-items-start">
            <div class="col-2"  ></div>

            <div class="col-8" style="text-align: center;">
              <h3>User Account Information</h3>
            </div>

            <div class="col-2"  ></div>
        </div>

        <!--New Asset Box-->
        <div class="row align-items-start">
            <div class="col-2"  ></div>

            <div class="col-8" style="text-align: left;border-bottom:1px solid #222222;">
              <p>Add User</p>

              <form style="font-size: 10pt;" id="newAssetForm">
                <div class="mb-3">
                  <label for="USRFirstname" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="USRFirstname">
                </div>

                <div class="mb-3">
                  <label for="USRSurname" class="form-label">Surname</label>
                  <input type="text" class="form-control" id="USRSurname">
                </div>

                <div class="mb-3">
                  <label for="USRAddressLine1" class="form-label">Address Line 1</label>
                  <input type="text" class="form-control" id="USRAddressLine1">
                </div>

                <div class="mb-3">
                  <label for="USRAddressLine2" class="form-label">Address Line 2</label>
                  <input type="text" class="form-control" id="USRAddressLine2">
                </div>

                <div class="mb-3">
                  <label for="USRAddressLine3" class="form-label">Address Line 3</label>
                  <input type="text" class="form-control" id="USRAddressLine3">
                </div>

                <div class="mb-3">
                  <label for="USRAddressLine4" class="form-label">PostCode</label>
                  <input type="text" class="form-control" id="USRAddressLine4">
                </div>

                <div class="mb-3">
                  <label for="USRDOB" class="form-label">DOB</label>
                  <input type="text" class="form-control" id="USRDOB">
                </div>                

		<div class="mb-3">
                  <label for="USRJoined" class="form-label">Joined</label>
                  <input type="text" class="form-control" id="USRJoined">
                </div>

                <div class="mb-3">
                  <label for="USRType" class="form-label">Type</label>
                  <input type="text" class="form-control" id="USRType">
                </div>

                <div class="mb-3">
                  <label for="USRStatus" class="form-label">Status</label>
                  <input type="text" class="form-control" id="USRStatus">
                </div>

                <div class="mb-3">
                  <label for="USRNote" class="form-label">Email</label>
                  <input type="text" class="form-control" id="USRNote">
                </div>
            
                <button type="button" id="subNewForm" class="btn btn-primary">Submit</button> <br/><br/>
                
              </form>
            </div>

            <div class="col-2"  ></div>
        </div>

        <!-- view Asset Area-->
        <div class="row align-items-start">
            <div class="col-2"  ></div>

            <div class="col-8" style="text-align: left;" >
              <div style="padding:5px;">
                <button  id = "retUsers" type="button" class="btn btn-primary">View Users</button>
              </div>

              <div id="AssetList">

                <h4>Please click the view Users button if you wish to view users on the system.</h4>

              </div>
            </div>

            <div class="col-2"  ></div>
        </div>

    </div>
  
  </body>
</html>
